.active-toggle-container {
    justify-content: flex-end;
    margin-bottom: 10px;
}

.person-form-content {
    width: 316px;
}

.mat-form-field {
    width: 100%;
}

.buttons-container {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.cancel-button {
    margin-right: 15px;
}