<loading-overlay *ngIf="!loaded"></loading-overlay>
<mat-card [class.page-view]="pageView">
    <form *ngIf="editMode; else viewMode" [formGroup]="personFormGroup" autoActiveFirstOption>
        <div class="person-form-content">
            <div class="row">
                <div class="col">
                    <h2>{{ pageView ? 'Edit' : 'Add New' }} Person</h2>
                </div>

                <div *ngIf="pageView" class="active-status-container">
                    <mat-slide-toggle formControlName="isActive" [labelPosition]="'before'">Active</mat-slide-toggle>
                </div>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Bob Smith" name="name" formControlName="fullName" required>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline" class="col-third">
                    <mat-label>Age</mat-label>
                    <input matInput name="age" formControlName="age" type="number" required>

                </mat-form-field>
                <mat-form-field class="col-twoThirds" appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select name="gender" formControlName="gender" required>
                        <mat-option value="male">Male</mat-option>
                        <mat-option value="female">Female</mat-option>
                        <mat-option value="other">Other</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>About</mat-label>
                    <textarea matInput formControlName="about" maxlength="250" rows="10"></textarea>
                </mat-form-field>
            </div>
            <mat-error *ngIf="personFormGroup.controls['fullName'].dirty && personFormGroup.controls['fullName'].invalid">Please ensure length is less than 70 characters.</mat-error>
            <mat-error *ngIf="personFormGroup.controls['age'].dirty && personFormGroup.controls['age'].invalid">Age range is 18-110 years old.</mat-error>
            <mat-error *ngIf="personFormGroup.controls['about'].dirty && personFormGroup.controls['about'].invalid">Please ensure length is less than 250 characters.</mat-error>
        </div>
    </form>

    <ng-template #viewMode>
        <div class="display-container">
            <img src="https://via.placeholder.com/150">
            <h1 class="display-name">{{person?.name}}</h1>
            <span>
                <h3>Status: </h3>{{person?.isActive ? 'Is Active' : 'Disabled'}}
            </span>
            <span>
                <h3>Age:</h3>{{person?.age}}
            </span>
            <span>
                <h3>Gender:</h3>{{person?.gender | titlecase}}
            </span>
            <h3>About: </h3>
            <p class="display-about">{{person?.about}}</p>
        </div>
    </ng-template>

    <div class="buttons-container">
        <button class="cancel-button" mat-raised-button (click)="return()">
            <mat-icon *ngIf="editMode">clear</mat-icon>
            <mat-icon *ngIf="!editMode">arrow_back</mat-icon>
            {{editMode ? 'Cancel' : 'Back'}}
        </button>
        <button mat-raised-button color="accent" (click)="submit()" [disabled]="editMode && !personFormGroup.valid">
            <mat-icon *ngIf="editMode">save</mat-icon>
            <mat-icon *ngIf="!editMode">edit</mat-icon>
            {{editMode ? 'Save' : 'Edit'}}
        </button>
    </div>
</mat-card>