@use '@angular/material' as mat;

.person-lookup-card {
    height: 80vh;
    max-height: 80vh;
    @include mat.elevation(8);
}

.person-table-container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(80vh - 60px);
}

.person-lookup-table {
    width: 50vw;
}

.mat-column-name,
.mat-column-isActive {
    flex: 1 22%;
    width: 22%;
}

.mat-column-registered {
    flex: 1 40%;
    width: 40%;
}

.mat-column-action {
    flex: 1 16%;
    width: 16%;
    min-width: 16%;
    max-width: 16%;
}

.disabled-row {
    td {
        color: rgb(148, 148, 148) !important;
    }
}

.add-button {
    position: absolute;
    right: 25px;
    top: 20px;
}